* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  margin: 0;
  padding: 0;
}

header {
  background-color: #d05c2e;
  padding: 0 0 .7rem;
  color: #fff;
  position:relative;
  text-align: center;
  font-family: Merriweather, serif;
}

img {
  width: 40px;
}

h1 {
  margin: .5em 0 0;
  font-size: 2rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #d05c2e;
  overflow: hidden;
}

.nav li {
  float: left;
  width: 100%;
}

.nav a {
  display: block;
  padding: .3rem;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #d05c2e;
  color: #fff;
}
